@charset "utf-8";
/* CSS Document */
@media screen and (max-width: 600px) {
.for-pc { display:none; }
  .for-sp { display:block; }
	/*日本档案事业发展史开始*/
/*content1开始*/
.content1{width: 380px;margin: 0px auto 10px auto;height: 700px;}	
.spmulu{width:360px;margin: 5px 5px 5px 5px;}
.spmulu summary{text-align: center;font-weight: bold;font-size: 25px;}
.spmulu li{margin-bottom:5px;margin-left: 40px;margin-right: 25px;}
.spmulu li a{cursor:pointer;text-decoration: none;}
.spmulu li a:hover{color:#FC0004;text-decoration: underline;}
	.phmulu{margin-top: -1em;}	
.content1 h1{text-align: center;font-size: 35px;margin-top: 16px;}
.b1{text-indent: 2em;margin-top: -24px;margin-bottom: -1px;margin-left: 5px;margin-right: 5px;}
.content1 h2{margin-left: 5px;margin-top: 1em;}	
.b2{margin-left: 5px;margin-right: 5px; text-indent: 2em;font-size: 17px;}
.meiji ol li{margin-right: 5px;font-size: 17px;list-style:decimal;}
.b3{margin-left: 5px;margin-right: 5px;text-indent: 2em;font-size: 17px;margin-top: -1em;}
.b3 a{color: #1B05FF;cursor:pointer;text-decoration: none;}
.b3 a:hover{color:#FC0004;text-decoration: underline;}
.naikaku ol li{margin-right: 5px;font-size: 17px;list-style:decimal;}
.b4{margin-left: 5px;margin-right: 5px;text-indent: 2em;font-size: 17px;margin-top: -1em;margin-bottom: -1em;}
.b5{margin-left: 5px;margin-right: 5px; text-indent: 2em;font-size: 17px;margin-bottom: -1em;}
.xian{width: 378.5px;margin-top: -0.3px;margin-left: -0.1px;}
	
.pic13{margin-top: -1em;text-align: center;}
.pic14{margin-top: -1em;text-align: center;}
.pic15{margin-top: -1em;text-align: center;}
.jieshi4 ol li{margin-right: 5px;font-size: 17px;list-style:decimal;}	
.spminzhi1{font-weight: bold;font-size: 23px;margin-left: 5px;cursor:pointer;width: 15em;margin-top: -16px;}
.spminzhi2{font-weight: bold;font-size: 23px;margin-left: 5px;cursor:pointer;width: 15em;}
.xiandai{font-weight: bold;font-size: 23px;margin-left: 5px;cursor:pointer;width: 16em;margin-top: 1em;}
.ciyujieshi{font-weight: bold;font-size: 23px;margin-left: 5px;cursor:pointer;width: 7em;margin-top: 1em;}
	.aa1{margin-top:-43px;}
	.aa2{margin-top:-43px;}
	.aa3{margin-top:-33px;}
	.aa4{margin-top:-43px;}
	
	.grid-area {
  display: grid;
  height: 700px;                
  grid-template-rows: 224.3px 3px 473px;  
  grid-template-columns: 380px;  
}

.top-area {
  grid-row: 1;
  grid-column: 1;
	position: relative;
}
	.border-area{grid-row: 2;
  grid-column: 1;
	}
	
.bottom-area {
  grid-row: 3;
  grid-column: 1;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.bottom-area::-webkit-scrollbar {  
  display: none; 
}			
/*content1结束*/
/*back开始*/
div.content1{background-color:antiquewhite;
	        background-image: url("./c-back2.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
.spmulu{background-color:aliceblue;border: 5px solid #81A0A9;}
/*back结束*/
/*日本档案事业发展史结束*/

/*日本国立公文书馆介绍开始*/
/*content3开始*/
.content3{width: 380px;margin: 0px auto 10px auto;height: 700px;}
.spmulu2{width:360px;margin: 5px 5px 5px 5px;}
.spmulu2 summary{text-align: center;font-weight: bold;font-size: 25px;}
.spmulu2 li{margin-bottom:5px;margin-left: 130px;font-size: 18px;}
.spmulu2 li a{cursor:pointer;text-decoration: none;}
.spmulu2 li a:hover{color:#FC0004;text-decoration: underline;}
	.phmulu2{margin-top: -1em;}	
.content3 h1{text-align: center;font-size: 35px;margin-top: 16px;}
.d2{margin-left: 5px;margin-right: 5px; text-indent: 2em;font-size: 17px;}
.d2 a{cursor:pointer;text-decoration: none;}
.d2 a:hover{color:#FC0004;text-decoration: underline;}
.pic1{margin-top: -1em;text-align: center;margin-bottom:-1em;}
.pic3{margin-top: -1em;text-align: center;}
.d7{margin-left: 5px;margin-right: 5px;font-size: 17px;margin-bottom: -1em;}
.d8{margin-left: 5px;margin-right: 5px;text-indent: 2em;font-size: 17px;margin-top: -1em;}
.d8 a{cursor:pointer;text-decoration: none;}
.d8 a:hover{color:#FC0004;text-decoration: underline;}
.d9{margin-left: 5px;margin-right: 5px;font-size: 17px;margin-top: -1em;margin-bottom: -1em;}
.ziliao ol li{margin-right: 5px;font-size: 17px;list-style:decimal;}
.yewu ol li{margin-right: 5px;font-size: 17px;list-style:decimal;}
.yewu2 ol li{margin-right: 5px;font-size: 17px;list-style:decimal;}
.yewu ol li a{cursor:pointer;text-decoration: none;}
.yewu ol li a:hover{color:#FC0004;text-decoration: underline;}
.suozaidi ol li{margin-right: 5px;font-size: 17px;list-style:disc;}
.pic5{margin-top: -1em;text-align: center;}
.jieshi ol li{margin-right:5px;font-size: 17px;list-style:decimal;}
.d10{text-indent: 2em;margin-top: -1em;margin-bottom: -5px;margin-left: 5px;margin-right: 5px;}
.xian1{width: 378.5px;margin-top: -0.3px;margin-left: -0.1px;}
	
.gaiyao{font-weight: bold;font-size: 23px;margin-left: 5px;cursor:pointer;width:5em;margin-top: 1em;}
.yange{font-weight: bold;font-size: 23px;margin-left: 5px;cursor:pointer;width:5em;margin-top: 1em;}
.shoucang{font-weight: bold;font-size: 23px;margin-left: 5px;cursor:pointer;width:7em;margin-top: 1em;}
.yewuneirong{font-weight: bold;font-size: 23px;margin-left: 5px;cursor:pointer;width:7em;margin-top: 1em;}
.didian{font-weight: bold;font-size: 23px;margin-left: 5px;cursor:pointer;width:6em;margin-top: 1em;}
.ciyujieshi1{font-weight: bold;font-size: 23px;margin-left: 5px;cursor:pointer;width:7em;margin-top: 1em;}
	.bb1{margin-top:-20px;}
	.bb2{margin-top:-20px;}
	.bb3{margin-top:-20px;}
	.bb4{margin-top:-20px;}
	.bb5{margin-top:-20px;}
	.bb6{margin-top:-20px;}

.grid-area1 {
  display: grid;
  height: 700px;                
  grid-template-rows: 224.7px 3px 472.6px;  
  grid-template-columns: 380px;  
}

.top-area1 {
  grid-row: 1;
  grid-column: 1;
	position:relative;
}
	.border-area1{grid-row: 2;
  grid-column: 1;
	}
.bottom-area1 {
  grid-row: 3;
  grid-column: 1;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.bottom-area1::-webkit-scrollbar {  
  display: none; 
}			
/*content3结束*/
/*back开始*/
div.content3{background-color:antiquewhite;
	        background-image: url("./c-back2.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
.spmulu2{background-color:aliceblue;border: 5px solid #81A0A9;}
/*back结束*/
/*日本国立公文书馆介绍结束*/

/*日本国立公文书馆工作案例开始*/
/*content4开始*/
.content4{width: 380px;margin: 0px auto 10px auto;height: 1000px;}
.spmulu3{width:360px;margin: 5px 5px 5px 5px;}
.spmulu3 summary{text-align: center;font-weight: bold;font-size: 25px;}
.spmulu3 li{margin-bottom:5px;margin-left: 30px;margin-right: 15px;}
.spmulu3 li a{cursor:pointer;text-decoration: none;}
.spmulu3 li a:hover{color:#FC0004;text-decoration: underline;}
	.phmulu3{margin-top: -1em;}	
.content4 h1{text-align: center;font-size: 30px;margin-top: 16px;}
.content4 h2{margin-left: 5px;margin-top: 1em;}
.content4 h2 a{color: #1B05FF;cursor:pointer;text-decoration: none;}
.content4 h2 a:hover{color:#FC0004;text-decoration: underline;}
.e1{text-indent: 2em;margin-top: -1em;margin-bottom: -5px;margin-left: 5px;margin-right: 5px;}
.e2{margin-left: 5px;margin-right: 5px;text-indent: 2em;font-size: 17px;}
.e2 a{color: #1B05FF;cursor:pointer;text-decoration: none;}
.e2 a:hover{color:#FC0004;text-decoration: underline;}
.work ol li{margin-right: 5px;font-size: 17px;list-style:decimal;}
.media ol li{margin-right: 5px;font-size: 17px;list-style:decimal;}
.pic10{margin-top: -1em;text-align: center;}
.e3{margin-left: 5px;margin-right: 5px;text-indent: 2em;font-size: 17px;margin-top: -1em;}
.e3 a{color: #1B05FF;cursor:pointer;text-decoration: none;}
.e3 a:hover{color:#FC0004;text-decoration: underline;}
.process ol li{margin-right: 5px;font-size: 17px;list-style:decimal;}
.e4{margin-left: 5px;margin-right: 5px;font-size: 17px;margin-top: -1em;}
.process1 ol li{margin-right: 5px;font-size: 17px;list-style:decimal;}
.process1 ol{margin-top: -1em;}
.format ol li{margin-right: 5px;font-size: 17px;list-style:decimal;}
.pic11{margin-top: -1em;text-align: center;}
.meta ol li{margin-right: 5px;font-size: 17px;list-style:decimal;}
.pic12{margin-top: -1em;text-align: center;margin-bottom: -1em;}
.jieshi3 ol li{margin-right: 5px;font-size: 17px;list-style:decimal;}
.xian2{width: 378.5px;margin-top: -0.3px;margin-left: -0.1px;}

.sumgz1{margin-left: 5px;font-size: 23px;font-weight: bold;margin-top: 1em;cursor:pointer;width:13em;}
.sumgz2{margin-left: 5px;font-size: 23px;font-weight: bold;cursor:pointer;margin-top: 1em;}	
.sumgz3{margin-left: 5px;font-size: 23px;font-weight: bold;cursor:pointer;margin-top: -16px;}
.sumgz4{margin-left: 5px;font-size: 23px;font-weight: bold;cursor:pointer;width:9em;}	
.sumgz5{margin-left: 5px;font-size: 23px;font-weight: bold;cursor:pointer;}
.sumgz6{margin-left: 5px;font-size: 23px;font-weight: bold;cursor:pointer;width:15em;}	
.sumgz7{margin-left: 5px;font-size: 23px;font-weight: bold;cursor:pointer;width:15em;}	
.sumgz8{margin-left: 5px;font-size: 23px;font-weight: bold;cursor:pointer;width:8em;}
.sumgz9{margin-left: 5px;font-size: 23px;font-weight: bold;margin-top: -16px;cursor:pointer;}
.sumgz10{margin-left: 5px;font-size: 23px;font-weight: bold;cursor:pointer;width:13em;}
.sumgz11{margin-left: 5px;font-size: 23px;font-weight: bold;cursor:pointer;}
.sumgz12{margin-left: 5px;font-size: 23px;font-weight: bold;margin-top: 1em;cursor:pointer;width:7em;}	
	.cc1{margin-top:-10px;}
	.cc2{margin-top:-10px;}
	.cc3{margin-top:-20px;margin-bottom: -1em;}
	.cc4{margin-top:-20px;}
	.cc5{margin-top:-20px;margin-bottom: -1em;}
	.cc6{margin-top:-20px;margin-bottom: -1em;}
	.cc7{margin-top:-20px;margin-bottom: -1em;}
	.cc8{margin-top:-20px;}
	.cc9{margin-top:-20px;margin-bottom: -1em;}
	.cc10{margin-top:-20px;}
	.cc11{margin-top:-20px;}
	.cc12{margin-top:-20px;}
	
.grid-area2 {
  display: grid;
  height: 1000px;                
  grid-template-rows: 214.5px 3px 782.8px;  
  grid-template-columns: 380px;  
}

.top-area2 {
  grid-row: 1;
  grid-column: 1;
	position:relative;
}
.border-area2{grid-row: 2;
  grid-column: 1;
	}
.bottom-area2 {
  grid-row: 3;
  grid-column: 1;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.bottom-area2::-webkit-scrollbar {  
  display: none; 
}				
	
/*content4结束*/
/*back开始*/
div.content4{background-color:antiquewhite;
	        background-image: url("./c-back2.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
.spmulu3{background-color:aliceblue;border: 5px solid #81A0A9;}
/*back结束*/
/*日本国立公文书馆工作案例结束*/

/*日本档案事业相关法规介绍开始*/
/*content5开始*/
.content5{width: 380px;margin: 0px auto 10px auto;height: 1000px;}
.spmulu4{width:360px;margin: 5px 5px 5px 5px;}
.spmulu4 summary{text-align: center;font-weight: bold;font-size: 25px;}
.spmulu4 li{margin-bottom:5px;margin-left: 88px;margin-right: 73px;}
.spmulu4 li a{cursor:pointer;text-decoration: none;}
.spmulu4 li a:hover{color:#FC0004;text-decoration: underline;}
	.phmulu4{margin-top: -1em;}	
.content5 h1{text-align: center;font-size: 30px;margin-top: 16px;}
.content5 h2{margin-left: 5px;margin-top: 1em;}
.f2{text-indent: 2em;margin-top: -1em;margin-bottom: -5px;margin-left: 5px;margin-right: 5px;}
.f3{text-indent: 2em;font-size: 17px;margin-left: 5px;margin-right: 5px;}
.f4{text-indent: 2em;font-size: 17px;margin-top:-1em;margin-left: 5px;margin-right: 5px;}
.f4 a{color: #1B05FF;cursor:pointer;text-decoration: none;}
.f4 a:hover{color:#FC0004;text-decoration: underline;}
.f5{font-size: 17px;margin-left: 5px;margin-right: 5px;}
.f6{font-size: 17px;margin-top:-1em;margin-left: 5px;margin-right: 5px;}
.goucheng ol{margin-top:-1em;}
.goucheng ol li{margin-right: 5px;font-size: 17px;}
.goucheng2 ol{margin-top:-1em;}
.goucheng2 ol li{margin-right: 5px;font-size: 17px;text-indent: 2em;}
.zhiwu ol {margin-top:-1em;}
.zhiwu ol li{margin-right: 5px;font-size: 17px;list-style: decimal;}
.pic8{margin-top: -1em;text-align: center;margin-bottom: -1em;}
.jieshi2 ol li{margin-right: 5px;font-size: 17px;list-style:decimal;}
.pic9{margin-top: -1em;text-align: center;}
.f7{font-size: 5px;margin-top:23px;margin-left: 5px;margin-right: 5px;}
.xian3{width: 378.4px;margin-top: -0.3px;margin-left: -0.4px;}

.sumfg1{margin-left: 5px;font-size: 23px;font-weight:bold;cursor:pointer;width:5em;margin-top: -16px;}
.sumfg2{margin-left: 5px;font-size: 23px;font-weight:bold;cursor:pointer;width:7em;}
.sumfg3{margin-left: 5px;font-size: 23px;font-weight:bold;cursor:pointer;width:7em;}
.sumfg4{margin-left: 5px;font-size: 23px;font-weight:bold;cursor:pointer;width:5em;margin-top: -16px;}
.sumfg6{margin-left: 5px;font-size: 23px;font-weight:bold;cursor:pointer;width:7em;}
.sumfg7{margin-left: 5px;font-size: 23px;font-weight:bold;cursor:pointer;width:5em;margin-top: -16px;}	
.sumfg8{margin-left: 5px;font-size: 23px;font-weight:bold;cursor:pointer;width:7em;}
.sumfg9{margin-left: 5px;font-size: 23px;font-weight:bold;cursor:pointer;width:7em;}
.sumfg11{margin-left: 5px;font-size: 23px;font-weight:bold;cursor:pointer;width:7em;margin-top: 1em;}
	.dd1{margin-top:-20px;margin-bottom: -1em;}
	.dd2{margin-top:-20px;margin-bottom: -1em;}
	.dd3{margin-top:-20px;}
	.dd4{margin-top:-20px;margin-bottom: -1em;}
	.dd6{margin-top:-20px;}
	.dd7{margin-top:-20px;margin-bottom: -1em;}
	.dd8{margin-top:-20px;margin-bottom: -1em;}
	.dd9{margin-top:-20px;}
	.dd11{margin-top:-20px;}
	
.grid-area3 {
  display: grid;
  height: 1000px;                
  grid-template-rows: 286.5px 3px 710.9px;  
  grid-template-columns: 380px;  
}

.top-area3 {
  grid-row: 1;
  grid-column: 1;
	position:relative;
}
.border-area3{grid-row: 2;
  grid-column: 1;
	}
.bottom-area3 {
  grid-row: 3;
  grid-column: 1;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.bottom-area3::-webkit-scrollbar {  
  display: none; 
}
/*content5结束*/
/*back开始*/
div.content5{background-color:antiquewhite;
	        background-image: url("./c-back2.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
.spmulu4{background-color:aliceblue;border: 5px solid #81A0A9;}
/*back结束*/
/*日本档案事业相关法规介绍结束*/

/*参考资料开始*/
/*content6开始*/
.content6{width: 380px;margin: 0px auto 10px auto;height: 700px;}
.spmulu5{width:360px;margin: 5px 5px 5px 5px;}
.spmulu5 summary{text-align: center;font-weight: bold;font-size: 25px;}
.spmulu5 li{margin-bottom:5px;margin-left: 60px;font-size: 18px;}
.spmulu5 li a{cursor:pointer;text-decoration: none;}
.spmulu5 li a:hover{color:#FC0004;text-decoration: underline;}
	.phmulu5{margin-top: -1em;}			
.content6 h1{text-align: center;font-size: 35px;margin-top: 16px;}
.g1{text-indent: 2em;margin-top: -1em;margin-bottom: -5px;margin-left: 5px;margin-right: 5px;}
	
.fazhan ol li{margin-right: 5px;font-size: 17px;list-style:decimal;margin-bottom: 5px;}
.fazhan ol li a{color: #1B05FF;cursor:pointer;text-decoration: none;}
.fazhan ol li a:hover{color:#FC0004;text-decoration: underline;}

.jieshao ol li{margin-right: 5px;font-size: 17px;list-style:decimal;margin-bottom: 5px;}
.jieshao ol li a{color: #1B05FF;cursor:pointer;text-decoration: none;}
.jieshao ol li a:hover{color:#FC0004;text-decoration: underline;}

.anli ol li{margin-right: 5px;font-size: 17px;list-style:decimal;margin-bottom: 5px;}
.anli ol li a{color: #1B05FF;cursor:pointer;text-decoration: none;}
.anli ol li a:hover{color:#FC0004;text-decoration: underline;}

.fagui ol li{margin-right: 5px;font-size: 17px;list-style:decimal;margin-bottom: 5px;}
.fagui ol li a{color: #1B05FF;cursor:pointer;text-decoration: none;}
.fagui ol li a:hover{color:#FC0004;text-decoration: underline;}

.digital ol li{margin-right: 5px;font-size: 17px;list-style:decimal;margin-bottom: 5px;}
.digital ol li a{color: #1B05FF;cursor:pointer;text-decoration: none;}
.digital ol li a:hover{color:#FC0004;text-decoration: underline;}	
.xian4{width: 378.4px;margin-top: -0.3px;margin-left: -0.4px;}

.sumcz1{margin-left: 5px;font-size: 23px;font-weight:bold;cursor:pointer;margin-top: 1em;width: 12em;}
.sumcz3{margin-left: 5px;font-size: 23px;font-weight:bold;cursor:pointer;margin-top: 1em;width: 13em;}
.sumcz4{margin-left: 5px;font-size: 23px;font-weight:bold;cursor:pointer;margin-top: 1em;width: 15em;}
.sumcz5{margin-left: 5px;font-size: 23px;font-weight:bold;cursor:pointer;margin-top: 1em;width: 15em;}
.sumcz6{margin-left: 5px;font-size: 23px;font-weight:bold;cursor:pointer;margin-top: 1em;width: 12em;}
	.ee1{margin-top: -15px;}
	.ee3{margin-top: -15px;}
	.ee4{margin-top: -15px;}
	.ee5{margin-top: -15px;}
	.ee6{margin-top: -15px;}
	
.grid-area5 {
  display: grid;
  height: 700px;                
  grid-template-rows: 200.7px 3px 496.7px;  
  grid-template-columns: 380px;  
}

.top-area5 {
  grid-row: 1;
  grid-column: 1;
	position:relative;
}
	.border-area5{grid-row: 2;
  grid-column: 1;
	}
.bottom-area5 {
  grid-row: 3;
  grid-column: 1;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.bottom-area5::-webkit-scrollbar {  
  display: none; 
}			

/*content6结束*/
/*back开始*/
div.content6{background-color:antiquewhite;
	        background-image: url("./c-back2.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
.spmulu5{background-color:aliceblue;border: 5px solid #81A0A9;}
/*back结束*/
/*参考资料结束*/

/*针对“数字化”的举措开始*/
/*content7开始*/
.content7{width: 380px;margin: 0px auto 10px auto;}
/*content7结束*/
/*back开始*/
div.content7{background-color:antiquewhite;
	        background-image: url("./c-back2.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
/*back结束*/
/*针对“数字化”的举措结束*/
	
}
