@charset "utf-8";
/*日本档案事业发展史开始*/
/*content1开始*/
.content1{margin:20px 30px;width: 1100px;height:700px;}
mulu{float: left; width: 330px;}
.content1 ul{height: 570px;width: 190px;margin-left: 20px;margin-top: 20px;}
.content1 ul li{margin-top: 30px;margin-left: 30px;}
.content1 ul li a{font-size: 20px;color: #1B05FF;font-weight: bold;cursor:pointer;text-decoration: none;}
.content1 ul li a:hover{color:#FC0004;text-decoration: underline;}
section4{float:left;width: 800px;margin-left: 6px;}
.content1 h1{text-align: center;font-size: 35px;margin-top: 40px;}
.b1{text-indent: 2em;margin-top: -1em;margin-bottom: -5px;}
.content1 h2{margin-left: 20px;}
.content1 h3{margin-left: 20px;margin-top: -10px;margin-bottom: -1em;font-size: 23px;}
.b2{margin-left: 30px;text-indent: 2em;font-size: 17px;}
.meiji ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.b3{margin-left: 30px;text-indent: 2em;font-size: 17px;margin-top: -1em;}
.naikaku ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.b4{margin-left: 30px;text-indent: 2em;font-size: 17px;margin-top: -1em;margin-bottom: -1em;}
.b5{margin-left: 30px;text-indent: 2em;font-size: 17px;margin-bottom: -1em;}
.pic13{margin-top: -1em;text-align: center;margin-bottom: 1em;margin-left: 30px;}
.pic14{margin-top: -1em;text-align: center;margin-bottom: -1em;margin-left: 30px;}
.pic15{margin-top: -1em;text-align: center;margin-bottom: 1em;margin-left: 30px;}
.jieshi4 ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}

html,body {
  height: 700px;
}
.split9 {
  position: absolute;
  width: 240px;
  height: 700px;
}
.split4 {
  position: absolute;
  width: 770px;
  height: 700px;
}
.left-box4 {
  width: 330px;
	height: 700px;
	
}
.right-box4 {left: 300px;
  width: 1100px;
	height: 700px;
  overflow-y: scroll;
	
}
/*content1结束*/
/*back开始*/
div.content1{background-color:antiquewhite;
	        background-image: url("../img/c-back2.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
.content1 ul{background-color: aliceblue;
            border: 10px solid #81A0A9;}
/*back结束*/
/*日本档案事业发展史结束*/

/*日本国立公文书馆介绍开始*/
/*content3开始*/
.content3{margin:20px 30px;width: 1100px;height: 700px;}
mulu{float: left; width: 330px;}
.content3 ul{height: 450px;width: 190px;margin-left: 20px;margin-top: 20px;}
.content3 ul li{margin-top: 30px;margin-left: 55px;list-style: disc;}
.content3 ul li a{font-size: 20px;color: #1B05FF;font-weight: bold;cursor:pointer;text-decoration: none;}
.content3 ul li a:hover{color:#FC0004;text-decoration: underline;}
section{float:left;width: 800px;margin-left: 6px;}
.content3 h1{text-align: center;font-size: 35px;margin-top: 40px;}
.content3 h2{margin-left: 20px;margin-bottom: -1em;font-size: 23px;}
.d2{margin-left: 30px;text-indent: 2em;font-size: 17px;}
.pic1{margin-top: -1em;text-align: center;margin-bottom:-1em;margin-left: 30px;}
.pic3{margin-top: -1em;text-align: center;margin-bottom:-1em;margin-left: 30px;}
.d7{margin-left: 30px;font-size: 17px;margin-bottom: -1em;}
.d8{margin-left: 30px;text-indent: 2em;font-size: 17px;margin-top: -1em;}
.d9{margin-left: 30px;font-size: 17px;margin-top: -1em;margin-bottom: -1em;}
.ziliao ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.yewu ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.yewu2 ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.suozaidi ol li{margin-left: 30px;font-size: 17px;list-style:disc;}
.pic5{margin-top: -1em;text-align: center;margin-bottom:-1em;margin-left: 30px;}
.jieshi ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.d10{text-indent: 2em;margin-top: -1em;margin-bottom: -5px;}

html,body {
  height: 700px;
}
.split10 {
  position: absolute;
  width: 240px;
  height: 700px;
}
.split1 {
  position: absolute;
  width: 770px;
  height: 700px;
}
.left-box1 {
  width: 330px;
	height: 700px;
	
}
.right-box1 {left: 300px;
  width: 839px;
	height: 700px;
  overflow-y: scroll;
	
}
/*content3结束*/
/*back开始*/
div.content3{background-color:antiquewhite;
	        background-image: url("../img/c-back2.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
.content3 ul{background-color: aliceblue;
            border: 10px solid #81A0A9;}
/*back结束*/
/*日本国立公文书馆介绍结束*/

/*日本国立公文书馆工作案例开始*/
/*content4开始*/
.content4{margin:20px 30px;width: 1100px;height: 1110px;}
mulu{float: left; width: 330px;}
.content4 ul{height: 1050px;width: 190px;margin-left: 20px;margin-top: 20px;}
.content4 ul li{margin-top: 20px;margin-left: 30px;}
.content4 ul li a{font-size: 17px;color: #1B05FF;font-weight: bold;cursor:pointer;text-decoration: none;}
.content4 ul li a:hover{color:#FC0004;text-decoration: underline;}
section2{float:left;width: 800px;margin-left: 6px;}
.content4 h1{text-align: center;font-size: 35px;margin-top: 40px;}
.content4 h2{margin-left: 20px;}
.e1{text-indent: 2em;margin-top: -1em;margin-bottom: -5px;}
.e2{margin-left: 30px;text-indent: 2em;font-size: 17px;}
.work ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.content4 h3{margin-left: 20px;margin-top: -10px;margin-bottom: -1em;font-size: 23px;}
.media ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.pic10{margin-top: -1em;text-align: center;margin-left: 30px;margin-bottom: 1em;}
.e3{margin-left: 30px;text-indent: 2em;font-size: 17px;margin-top: -1em;}
.process ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.e4{margin-left: 30px;font-size: 17px;margin-top: -1em;}
.process1 ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.process1 ol{margin-top: -1em;}
.format ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.pic11{margin-top: -1em;text-align: center;margin-left: 30px;}
.meta ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.pic12{margin-top: -1em;text-align: center;margin-bottom:-1em;margin-left: 30px;}
.jieshi3 ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}

html,body {
  height: 1110px;
}
.split11 {
  position: absolute;
  width: 240px;
  height: 1110px;
}
.split3 {
  position: absolute;
  width: 770px;
  height: 1110px;
}
.left-box3 {
  width: 330px;
	height: 1110px;
	
}
.right-box3 {left: 300px;
  width: 839px;
	height: 1110px;
  overflow-y: scroll;
	
}
/*content4结束*/
/*back开始*/
div.content4{background-color:antiquewhite;
	        background-image: url("../img/c-back2.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
.content4 ul{background-color: aliceblue;
            border: 10px solid #81A0A9;}
/*back结束*/
/*日本国立公文书馆工作案例结束*/

/*日本档案事业相关法规介绍开始*/
/*content5开始*/
.content5{margin:20px 30px;width: 1100px;height: 810px;}
mulu{float: left; width: 330px;}
.content5 ul{height: 750px;width: 190px;margin-left: 20px;margin-top: 20px;}
.content5 ul li{margin-top: 20px;margin-left: 55px;}
.content5 ul li a{font-size: 20px;color: #1B05FF;font-weight: bold;cursor:pointer;text-decoration: none;}
.content5 ul li a:hover{color:#FC0004;text-decoration: underline;}
section1{float:left;width: 800px;margin-left: 6px;}
.content5 h1{text-align: center;font-size: 35px;margin-top: 40px;}
.content5 h2{margin-left: 20px;}
.f2{text-indent: 2em;margin-top: -1em;margin-bottom: -5px;}
.content5 h3{margin-left: 20px;margin-top: -10px;margin-bottom: -1em;font-size: 23px;}
.f3{margin-left: 30px;text-indent: 2em;font-size: 17px;}
.f4{margin-left: 30px;text-indent: 2em;font-size: 17px;margin-top:-1em;}
.f5{margin-left: 30px;font-size: 17px;}
.f6{margin-left: 30px;font-size: 17px;margin-top:-1em;}
.goucheng ol{margin-top:-1em;}
.goucheng ol li{font-size: 17px;}
.goucheng2 ol{margin-top:-1em;}
.goucheng2 ol li{font-size: 17px;text-indent: 2em;}
.zhiwu ol {margin-top:-1em;}
.zhiwu ol li{font-size: 17px;list-style: decimal;}
.pic8{margin-top: -1em;text-align: center;margin-bottom: -1em;margin-left: 30px;}
.jieshi2 ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.pic9{margin-top: -1em;text-align: center;margin-left: 30px;}
.f7{font-size: 5px;margin-top:20px;}

html,body {
  height: 810px;
}
.split12 {
  position: absolute;
  width: 240px;
  height: 810px;
}
.split2 {
  position: absolute;
  width: 770px;
  height: 810px;
}
.left-box2 {
  width: 330px;
	height: 810px;
	
}
.right-box2 {left: 300px;
  width: 839px;
	height: 810px;
  overflow-y: scroll;
	
}
/*content5结束*/
/*back开始*/
div.content5{background-color:antiquewhite;
	        background-image: url("../img/c-back2.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
.content5 ul{background-color: aliceblue;
            border: 10px solid #81A0A9;}
/*back结束*/
/*日本档案事业相关法规介绍结束*/

/*参考资料开始*/
/*content6开始*/
.content6{margin:20px 30px;width: 1100px;height: 700px;}
mulu{float: left; width: 330px;}
.content6 ul{height: 540px;width: 190px;margin-left: 20px;margin-top: 20px;}
.content6 ul li{margin-top: 30px;margin-left: 30px;list-style-type: disc}
.content6 ul li a{font-size: 20px;color: #1B05FF;font-weight: bold;cursor:pointer;text-decoration: none;}
.content6 ul li a:hover{color:#FC0004;text-decoration: underline;}
section3{float:left;width: 800px;margin-left: 6px;}
.content6 h1{text-align: center;font-size: 35px;margin-top: 40px;}
.content6 h2{margin-left: 20px;}
.g1{text-indent: 2em;margin-top: -1em;margin-bottom: -5px;}
.content6 h2{margin-left: 20px;margin-bottom: -1em;font-size: 23px;}
.fazhan ol li{margin-left: 30px;font-size: 20px;list-style:decimal;margin-bottom: 10px;}
.fazhan ol li a{color: #1B05FF;cursor:pointer;text-decoration: none;}
.fazhan ol li a:hover{color:#FC0004;text-decoration: underline;}

.shijian ol li{margin-left: 30px;font-size: 20px;list-style:decimal;margin-bottom: 10px;}
.shijian ol li a{color: #1B05FF;cursor:pointer;text-decoration: none;}
.shijain ol li a:hover{color:#FC0004;text-decoration: underline;}

.jieshao ol li{margin-left: 30px;font-size: 20px;list-style:decimal;margin-bottom: 10px;}
.jieshao ol li a{color: #1B05FF;cursor:pointer;text-decoration: none;}
.jieshao ol li a:hover{color:#FC0004;text-decoration: underline;}

.anli ol li{margin-left: 30px;font-size: 20px;list-style:decimal;margin-bottom: 10px;}
.anli ol li a{color: #1B05FF;cursor:pointer;text-decoration: none;}
.anli ol li a:hover{color:#FC0004;text-decoration: underline;}

.fagui ol li{margin-left: 30px;font-size: 20px;list-style:decimal;margin-bottom: 10px;}
.fagui ol li a{color: #1B05FF;cursor:pointer;text-decoration: none;}
.fagui ol li a:hover{color:#FC0004;text-decoration: underline;}

.digital ol li{margin-left: 30px;font-size: 20px;list-style:decimal;margin-bottom: 10px;}
.digital ol li a{color: #1B05FF;cursor:pointer;text-decoration: none;}
.digital ol li a:hover{color:#FC0004;text-decoration: underline;}

html,body {
  height: 700px;
}
.split13 {
  position: absolute;
  width: 240px;
  height: 700px;
}
.split4 {
  position: absolute;
  width: 770px;
  height: 810px;
}
.left-box4 {
  width: 330px;
	height: 700px;
	
}
.right-box4 {left: 300px;
  width: 839px;
	height: 700px;
  overflow-y: scroll;
	
}
/*content6结束*/
/*back开始*/
div.content6{background-color:antiquewhite;
	        background-image: url("../img/c-back2.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
.content6 ul{background-color: aliceblue;
            border: 10px solid #81A0A9;}
/*back结束*/
/*参考资料结束*/

/*针对“数字化”的举措开始*/
/*content7开始*/
.content7{margin:20px 30px;width: 1100px;height: 700px;}
/*content7结束*/
/*back开始*/
div.content7{background-color:antiquewhite;
	        background-image: url("../img/c-back2.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
/*back结束*/
/*针对“数字化”的举措结束*/


