@charset "utf-8";
/*日本档案事业发展史开始*/
/*content1开始*/
.content1{margin:20px auto;width: 1100px;height:699px;}
mulu{float: left; width: 22%;}
.content1 ul{margin:20px 0px 0px 20px;padding: 0 20px;background-color: aliceblue;width: 150px;height: 590px;}
.content1 ul li{margin-top: 5px;margin-left: 13px;padding: 5px;}
.content1 ul li a{font-size: 20px;color: #1B05FF;font-weight: bold;cursor:pointer;text-decoration: none;}
.content1 ul li a:hover{color:#FC0004;text-decoration: underline;}
section4{float: left;width: 99%;margin-left: 6px;}
.content1 h1{text-align: center;font-size: 35px;margin-top: 40px;}
.b1{text-indent: 2em;margin-top: -1em;margin-bottom: -5px;}
.content1 h2{margin-left: 20px;}
.content1 h3{margin-left: 20px;margin-top: -10px;margin-bottom: -1em;font-size: 23px;}
.b2{margin-left: 30px;text-indent: 2em;font-size: 17px;}
.meiji ol {margin-top: -10px;}
.meiji ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.b3{margin-left: 30px;text-indent: 2em;font-size: 17px;margin-top: -1em;}
.naikaku ol {margin-top: -10px;}
.naikaku ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.b4{margin-left: 30px;text-indent: 2em;font-size: 17px;margin-top: -10px;}
.pic13{margin-top: -1em;text-align: center;margin-bottom: 1em;}
.pic14{margin-top: -1em;text-align: center;}
.pic15{margin-top: -1em;text-align: center;}
.jieshi4 ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}

html,body {
  height: 100%;
}
.split4 {
  position: absolute;
  width: 90%;
  height: 100%;
}
.left-box4 {
  left: 30;
}
.right-box4 {width: 70%;
  right: 60px;
  overflow-y: scroll;
}
/*content1结束*/
/*back开始*/
div.content1{background-color:antiquewhite;
	        background-image: url("./c-back2.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
.content1 ul{background-image: url();
             background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
/*back结束*/
/*日本档案事业发展史结束*/

/*日本档案事业大事件开始*/
/*content2开始*/
.content2{margin:20px auto;width: 1100px;height: 2800px;}
/*content2结束*/
/*back开始*/
div.content2{background-color:antiquewhite;
	        background-image: url("./c-back2.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
/*back结束*/
/*日本档案事业大事件结束*/

/*日本国立公文书馆介绍开始*/
/*content3开始*/
.content3{margin:20px auto;width: 1100px;height: 700px;}
.d1{margin-bottom: -0.09px;}
mulu{float: left; width: 22%;}
.content3 ul{margin:20px 0px 0px 20px;padding: 0 20px;background-color: aliceblue;width: 150px;height: 400px;}
.content3 ul li{margin-top: 5px;margin-left: 35px;list-style-type: disc;padding: 5px;}
.content3 ul li a{font-size: 20px;color: #1B05FF;font-weight: bold;cursor:pointer;text-decoration: none;}
.content3 ul li a:hover{color:#FC0004;text-decoration: underline;}
.content3 con{float: left;width: 500px;clear: both;}
section{float: left;width: 99%;margin-left: 6px;}
.content3 h1{text-align: center;font-size: 35px;margin-top: 40px;}
.content3 h2{margin-left: 20px;margin-bottom: -1em;font-size: 23px;}
.d2{margin-left: 30px;text-indent: 2em;font-size: 17px;}
pic1 img{float: left;width:45%;margin-top: -1em;margin-left: 40px;}
pic2 img{float:left;width: 45%;margin-top: -1em;margin-left: 30px;}
label{float: left;width: 100%;}
.d3{float: left;margin-left:170px;}
.d4{float: left;margin-left:240px;}
pic3 img{float: left;width:45%;margin-top: -1em;margin-left: 40px;}
pic4 img{float:left;width: 45%;margin-top: -1em;margin-left: 30px;}
label2{float: left;width: 100%;}
.d5{float: left;margin-left:165px;}
.d6{float: left;margin-left:235px;}
.d7{margin-left: 30px;font-size: 17px;margin-bottom: -1em;}
.d8{margin-left: 30px;text-indent: 2em;font-size: 17px;margin-top: -1em;}
.d9{margin-left: 30px;font-size: 17px;margin-top: -1em;margin-bottom: -1em;}
.ziliao ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.yewu ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.yewu2 ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.suozaidi ol li{margin-left: 30px;font-size: 17px;list-style:disc;}
pic5 img{float: left;width:45%;margin-top: -1em;margin-left: 40px;}
pic6 img{float:left;width: 45%;margin-top: -1em;margin-left: 30px;}
.jieshi ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.d10{text-indent: 2em;margin-top: -1em;margin-bottom: -5px;}
html,body {
  height: 100%;
}
.split1 {
  position: absolute;
  width: 90%;
  height: 100%;
}
.left-box1 {
  left: 30;
}
.right-box1 {width: 70%;
  right: 60px;
  overflow-y: scroll;
}
/*content3结束*/
/*back开始*/
div.content3{background-color:antiquewhite;
	        background-image: url("./c-back2.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
.content3 ul{background-image: url();
             background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
/*back结束*/
/*日本国立公文书馆介绍结束*/

/*日本国立公文书馆工作案例开始*/
/*content4开始*/
.content4{margin:20px auto;width: 1100px;height: 1120px;}
mulu{float: left; width: 22%;}
.content4 ul{margin:20px 0px 0px 20px;padding: 0 20px;background-color: aliceblue;width: 150px;height: 1050px;}
.content4 ul li{margin-top: 5px;margin-left: 13px;padding: 5px;}
.content4 ul li a{font-size: 17px;color: #1B05FF;font-weight: bold;cursor:pointer;text-decoration: none;}
.content4 ul li a:hover{color:#FC0004;text-decoration: underline;}
section2{float: left;width: 99%;margin-left: 6px;}
.content4 h1{text-align: center;font-size: 35px;margin-top: 40px;}
.content4 h2{margin-left: 20px;}
.e1{text-indent: 2em;margin-top: -1em;margin-bottom: -5px;}
.e2{margin-left: 30px;text-indent: 2em;font-size: 17px;}
.work ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.content4 h3{margin-left: 20px;margin-top: -10px;margin-bottom: -1em;font-size: 23px;}
.media ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.pic10{margin-top: -1em;text-align: center;margin-bottom: 20px;}
.e3{margin-left: 30px;text-indent: 2em;font-size: 17px;margin-top: -1em;}
.process ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.e4{margin-left: 30px;font-size: 17px;margin-top: -1em;}
.process1 ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.process1 ol{margin-top: -1em;}
.format ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.pic11{margin-top: -1em;text-align: center;}
.meta ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.pic12{margin-top: -1em;text-align: center;margin-bottom:-1em;}
.jieshi3 ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}

html,body {
  height: 100%;
}
.split3 {
  position: absolute;
  width: 90%;
  height: 162%;
}
.left-box3 {
  left: 30;
}
.right-box3 {width: 70%;
  right: 60px;
  overflow-y: scroll;
}
/*content4结束*/
/*back开始*/
div.content4{background-color:antiquewhite;
	        background-image: url("./c-back2.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
.content4 ul{background-image: url();
             background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
/*back结束*/
/*日本国立公文书馆工作案例结束*/

/*日本档案事业相关法规介绍开始*/
/*content5开始*/
.content5{margin:20px auto;width: 1100px;height: 830px;}
mulu{float: left; width: 22%;}
.content5 ul{margin:20px 0px 0px 20px;padding: 0 20px;background-color: aliceblue;width: 150px;height: 760px;}
.content5 ul li{margin-top: 5px;margin-left: 30px;padding: 5px;}
.content5 ul li a{font-size: 20px;color: #1B05FF;font-weight: bold;cursor:pointer;text-decoration: none;}
.content5 ul li a:hover{color:#FC0004;text-decoration: underline;}
section1{float: left;width: 99%;margin-left: 6px;}
.content5 h1{text-align: center;font-size: 35px;margin-top: 40px;}
.content5 h2{margin-left: 20px;}
.f1{margin-bottom: -0.09px;}
.f2{text-indent: 2em;margin-top: -1em;margin-bottom: -5px;}
.content5 h3{margin-left: 20px;margin-top: -10px;margin-bottom: -1em;font-size: 23px;}
.f3{margin-left: 30px;text-indent: 2em;font-size: 17px;}
.f4{margin-left: 30px;text-indent: 2em;font-size: 17px;margin-top:-1em;}
.f5{margin-left: 30px;font-size: 17px;}
.f6{margin-left: 30px;font-size: 17px;margin-top:-1em;}
.goucheng ol{margin-top:-1em;}
.goucheng ol li{font-size: 17px;}
.goucheng2 ol{margin-top:-1em;}
.goucheng2 ol li{font-size: 17px;text-indent: 2em;}
.zhiwu ol {margin-top:-1em;}
.zhiwu ol li{font-size: 17px;list-style: decimal;}
.pic8{margin-top: -1em;text-align: center;}
.jieshi2 ol li{margin-left: 30px;font-size: 17px;list-style:decimal;}
.pic9{margin-top: -1em;text-align: center;}
.f7{font-size: 5px;margin-top:20px;}

html,body {
  height: 100%;
}
.split2 {
  position: absolute;
  width: 90%;
  height: 119%;
}
.left-box2 {left: 30;
}
.right-box2 {width: 70%;
  right: 60px;
  overflow-y: scroll;
}
/*content5结束*/
/*back开始*/
div.content5{background-color:antiquewhite;
	        background-image: url("./c-back2.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
.content5 ul{background-image: url();
             background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
/*back结束*/
/*日本档案事业相关法规介绍结束*/

/*参考资料开始*/
/*content6开始*/
.content6{margin:20px auto;width: 1100px;height: 2800px;}
/*content6结束*/
/*back开始*/
div.content6{background-color:antiquewhite;
	        background-image: url("./c-back2.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
/*back结束*/
/*参考资料结束*/


