@charset "utf-8";
/*logo开始*/
.top{margin: 3px auto 0px 30px; padding: 0px; width: 1180px; height:80px; text-align: left}
.logo{width: 450px; height: 90px; float: left;margin-top: 4px;}
/*logo结束*/
/*nav开始*/
nav,nav_con,ul,li,a{margin: 0;padding: 0;border: 0;list-style: none;}
.nav{margin: 30px auto 0px;padding-left: 0px;width: 1180px;height: 50px;line-height: 40px;background:#81A0A9; vertical-align: middle;text-align:left;clear: both;overflow: hidden;}
.nav_con{margin: 0px auto;padding: 0px;width: 1100px;}
.nav ul{margin:0px auto;padding: 0px;width: 1180px;list-style:none}
.nav ul li{margin: 0px 30px 0px 13px;padding: 0px;float:left;}
.nav ul li a{color:#FFFFFF;font-size: 15px;font-weight: bold;padding: 5px 10px;float: left;cursor:pointer;text-decoration: none;}
.nav ul li:hover a{background: #3275E9;height: 40px;margin: -3px 0 0 0;padding-top: 3px;float: left;}
.nav ul li a:hover{color:#FC0004;text-decoration: underline;}
/*nav结束*/
/*back开始*/
body{background-color:#1B4A70;
     background-image: url("./b-back.webp");
     background-size: cover;
     background-attachment: fixed;
     background-position: center center;}
div.content{background-color:antiquewhite;
	        background-image: url("./c-back1.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
div.footer{
	        background-image: url("./f-back.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            }
/*back结束*/
/*content开始*/
.content{margin:20px auto;width: 1100px;height: 450px;}
.content dt{float: left;margin:0px 25px}
.a3{text-align: center;margin-top:-1px;font-weight: bold;}
.content dd{float:left;width: 500px;margin-top: 10px;}
.content h2{text-align: center;margin-right: 45px;}
.a1{margin-right: 50px;font-size: 18px;text-indent: 2em;}
.a2{margin-top: -1em;margin-right: 50px;font-size: 18px;text-indent: 2em;}
/*content结束*/
/*footer开始*/
.footer{margin: 0px auto; width: 1180px;clear: both;background: #ADADAD;padding-bottom: 5px;}
.footer_con{margin: 0px auto;padding: 0px;width: 1100px;}
.footer_con ul{margin:0px auto;padding: 15px;width: 1180px;list-style:none}
.footer_con ul li{margin: 0px 20px 0 0;padding: 0px;float:left;}
.footer_con ul li span{line-height:50px;color: #1D00C8;font-size: 20px;font-weight: bold;}
.end{clear: both;text-align: center;font-size: 14px;}
.topbtn{text-align: center;}
/*footer结束*/
