@charset "utf-8";
/* CSS Document */
@media screen and (max-width: 600px) {
.for-pc { display:none; }
  .for-sp { display:block; }
/*logo开始*/
.top{margin: 0px auto 10px auto;height:78px; text-align: center;}
.logo{width: 390px; height: 74px;margin-top: 4px;
	margin-left: auto;margin-right: auto;}
/*logo结束*/
/*nav开始*/
nav,nav_con,ul,li,a{margin: 0;padding: 0;border: 0;list-style: none;}
.spnav{background-color:#81A0A9;
width:400px;margin: 0px auto 10px auto;}
	.spnav summary{text-align: center;color:#FFFFFF;font-weight: bold;font-size: 25px}
.spnav li{margin-bottom:5px;text-align: center;font-weight: bold;}
.spnav li a{color:#FFFFFF;cursor:pointer;text-decoration: none;}
.spnav li a:hover{color:#FC0004;text-decoration: underline;}
	.caidan{margin-top: -1em;}
/*nav结束*/
/*back开始*/
body{background-color:#1B4A70;
     background-image: url("../img/b-back.webp");
     background-size: cover;
     background-attachment: fixed;
     background-position: center center;}
div.content{background-color:antiquewhite;
	        background-image: url("../img/c-back1.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            border: 10px solid #81A0A9;}
div.footer{
	        background-image: url("../img/f-back.webp");
	        background-size: cover;
	        background-attachment: fixed;
            background-position: center center;
            }
/*back结束*/
/*content开始*/	
.content{width: 380px;margin: 0px auto 10px auto;}
	.pic1{margin: 5px 5px 10px 5px;}
.content h2{text-align: center;margin-top: -5px;}
.a1{margin:-10px 5px 0px 5px;font-size: 18px;text-indent: 2em;}
.a2{margin:0px 5px 5px 5px;font-size: 18px;text-indent: 2em;}
/*content结束*/
/*footer开始*/	
.footer{width: 400px;margin: 0px auto 0px auto;background: #ADADAD;height: 330px}
.footer_con ul{list-style:none;}
.footer_con ul li{text-align: center;}
.a3{line-height: 49px;color: #1D00C8;font-size: 20px;font-weight: bold;margin-left: 11px;}
.footer_con ul li a{cursor:pointer;text-decoration: none;}
.end{text-align: center;font-size: 14px;margin-top: -10px}
.topbtn{text-align: center;margin-top: -7px;}
/*footer结束*/
}